/*Style de toute la page */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', 'sans-serif';
    color: rgb(51,51,51);
}

/* Style du header */
header {
    background-color: rgb(51,51,51);
    text-align: center;
    padding: 20px 0 20px 0;
}
h1 {
    margin-bottom: 20px;
    color: white;
}
header>a {
    color: white;
    text-decoration: none;
    margin: 15px;
}
header>a:hover {
    color: rgb(76, 175, 80);
}

/* Style de main */
.cadre {
    border:solid;
    border-radius: 8px;
    text-align: center;
    margin-top: 40px;
    width: 840px;
    height: 200px;
    margin: 40px auto 0 auto;
    padding: 20px 0 20px 0;
}
.cadre>p {
    color: rgb(102, 102, 102);
}
.cadre>h2 {
    border-bottom: solid rgb(76, 175, 80) 2px;
    width: 700px;
    margin: 20px auto;
    padding-bottom: 20px;
}
.cadre:hover {
    box-shadow: 3px 3px 3px gray;
}
.emoji {
    font-size : 60px
}


