body {
    background-color: rgb(224, 223, 223);
}

h1 {
    text-align: center;
}

.objectif {
    background-color: white;
    padding: 0 10px;
    border-left: solid green;
    border-radius: 5px;

}

.objectif-title {
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(174, 173, 173) ;
    width: 250px;
    text-align: center;
    height: 200px;
}

.card-emoji {
    font-size: 40px;
    padding-top: 10px;
}

.card-title {
    margin-top: 20px;
}

.card-description {
    color: gray;
    padding-bottom: 10px;

}
