/* Style général */
* {
    margin:0;
    padding: 0;
}

body {
    background-color: rgb(202, 202, 202);
}

/* Style header */
header {
    background-color: rgb(83, 83, 83);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

nav {
    background-color: gray;
}

ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
}

/* Style main */
main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.project {
    border: solid black 1px;
    width: 120px;
    text-align: center;
    font-weight: bold;
}


/* Responsive tablette */
@media (min-width: 769px) and (max-width:1024px) {
    main {
        flex-direction: row;
        justify-content: flex-start;
    }
}

/* Responsive desktop */
@media (min-width: 1025px) {
    main {
        flex-direction: row;
        justify-content: flex-end;
    }
}