html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    margin: 15%;
}

header {
    text-align: center;
}

header>img {
    width: 25%;
}

main {
    flex: 1;
}

a {
    color: green;
}

footer {
    text-align: center;
}

/* Question 3 */
.question3 {
    display: flex;
    flex-direction: row;
}

.question3>img {
    width: 50%;
}

.ennonce3 {
    padding-left: 20%;
}