* {
    margin:0px;
    padding:0px;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 70%;
    max-width: 400px;
}

img {
    width: 100px;
    height: 100px;
    border: solid 4px #667eea;
    border-radius: 50%;
    margin:25px 0 25px 0;
    order: -3;
}

h1 {
    color: #667eea;
    font-size: 16px;
    order: -1;
}

h2 {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
    order: -2;
}

.description {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 0 20px 0;
}

.skills {
    display: none;
}

code {
    display: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

button {
    font-size: 14px;
    font-weight: 600;
    background-color: #f0f0f0;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 100%
}

button:hover {
    background-color: #5568d3;
    color: white;
}

/* Responsive tablette uniquement */
@media (min-width: 769px) and (max-width: 1024px) {
    h2 {
        font-size: 26px;
    }

    .skills {
        display: block;
        color: #667eea;
        padding-bottom: 20px;
    }
}

/* Responsive tablette et desktop */
@media (min-width: 769px) {
    .container {
        padding: 40px;
    }

    img {
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 18px;
    }


    .description {
        font-size: 15px;
    }

    .buttons {
        flex-direction: row;
    }
}

/* Responsive desktop uniquement */
@media (min-width: 1025px) {
    h2 {
        font-size: 28px;
    }

    code {
        display: block;
        width: 100%;
        background-color: black;
        color: green;
        margin-bottom: 15px;
        text-align: left;
    }

    .pseudo-code {
        margin: 5px 0 5px 20px;
    }
    
}